.colorWords{
    /* color:#93C74B; */
    background-color: #93C74B;
}

.colorWord{
    /* color:#93C74B; */
    background-color: #bd4bc7;
}

.hidden{
    display: none;
}

.colorBox{
    height: 1em;
    width: 1em;
    border-radius: 50%;
}