.colorWords{
    /* color:#93C74B; */
    background-color: #93C74B;
}

.colorWord{
    /* color:#93C74B; */
    background-color: #bd4bc7;
}

.hidden{
    display: none;
}

#test{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin: 0.35em;
}

.colorBox{
    display: flex;
}

.green{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #93C74B;
    margin: 0.35em;
}

.purple{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #bd4bc7;
    margin: 0.35em;
}

.colourGreen{
    display: flex;
}

.colourPurple{
    display: flex;
}

.colourLabel{  
    margin: 1em;
}

